html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}


.navigation {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #222;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 0.5rem 1rem;
}

.navigation a:hover {
    opacity: 0.5;
}

.container {
    max-width: 960px;
    overflow: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.container figure {
    margin: 4rem 0;
    border-bottom: 3px solid #ccc;
    overflow: auto;
}

.container figure img {
    max-width: 100%;
    height: auto;
}

.container figure h2 {
    text-align: right;
    margin: 0 2rem;
    color: #666;
}