/* stylesheet pre FIT informacnu stranku */

::-moz-selection { background: #024959; }
::selection { background: #05ACD1; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  height: 100%;
  overflow: hidden;
}

body {
  background: #2C343B;
  color: #fafafa;
  font-family: 'Fira Sans', 'Roboto', 'Helvetica', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  height: 100%;
}

a { text-decoration: none; }

main {
  height: 100%;
  box-sizing: border-box;
  border: 10px solid #BF2A2A;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#box {
    max-width: 960px;
    font-size: 2em;
    margin: 0 auto;
    padding: 50px;
    padding-bottom: 200px;
}
section#box p {
    font-weight: 400;
}

section#box a {
    color: inherit;
    font-weight: 800;
}
section#box a:hover {
    background-color: #BF2A2A;
}
